body {
  margin: 0 auto;
}

header {
  background-image: linear-gradient(hsl(50, 30%, 7%), hsl(80, 63%, 9%));
  color: hsl(110, 20%, 95%);
  text-align: center;
}

header h1 {
  padding: 2em 0;
  font-size: 4em;
  text-shadow: 1px 1px 171px hsl(110, 30%, 40%);
}

.arg {
  font-style: italic;
  font-weight: normal;
  opacity: 0.5;
}

.code {
  border-radius: 1em;
}

.example_element {
  color: white;
  vertical-align: middle;
  text-align: center
}

.eval {
  border: 2px dashed hsl(0, 0%, 0%);
  padding: 0.2em;
  border-radius: 0.3em;
}

.function {
  margin: 4em auto;
}






#inside_a {
  height: 200px;
  width: 200px;
  margin: 1em auto;
  background: red;
  opacity:0.5;
}

#inside_b {
  height: 50px;
  width: 50px;
  margin: 1em auto;
  background: blue;
  opacity:0.5;
}


#outside_a {
  height: 200px;
  width: 200px;
  margin: 1em auto;
  background: red;
  opacity:0.5;
}

#outside_b {
  height: 50px;
  width: 50px;
  margin: 1em auto;
  background: blue;
  opacity:0.5;
}

#overlaps_a {
  height: 200px;
  width: 200px;
  margin: 1em auto;
  background: red;
  opacity:0.5;
}

#overlaps_b {
  height: 50px;
  width: 50px;
  margin: 1em auto;
  background: blue;
  opacity:0.5;
}


@media (max-width: 767px) {
  body {
    padding-right: 0px;
    padding-left: 0px;
  }
  .container {
    width: 95%;
  }
}